<%- include("../includes/header.ejs", {title:"Add New Guard Rank", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <h1>Add New Guard Position</h1>
    <form action="/guardRank/insert" method="get">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Rank Name</label>
                <input class="form-control" id="rank_name" name="rank_name" type="text"/><br />
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
<%- include("../includes/footer.ejs"); %>