<%- include("../includes/header.ejs", {title:"About", user_name: user[0].first_name + user[0].last_name}); %>

<div class="container">

    <p class="h2">About Public Prisons</p>
    <p class="lead" style="max-width: 60%;">
        This website serves many purposes for those involved in the local public prisons. Administrators have access to nearly as much information as they could desire. For instance, they have the ability to see everyone who is expected to be inside a penitentiary, which is important because in a prison, nobody should be inside who shouldn’t be, and certainly anyone expected to be inside, should be. They can see information about prisoners, such as which prison / sector they belong in and which guards are responsible for them. In Addition to being able to see everything that should be in a prison, a user has the ability to change it. If an administrator is hired or resigns, or a prisoner is admitted or released, a user is able to make these necessary changes to the database.
    </p>
    <br />

    <p class=" h2">About the Developer</p>
    <p class="lead" style="max-width: 60%;">
        The development team that worked on this website and database is just one lonely man, dedicating over 40 hours of his life in the endeavor of improving communication between fictitious prisons with hands so cold, he can hardly type.
    </p>
    <br />
    <a class="btn btn-primary" href="/login/home">Home</a> <br /><br />
    <p class=" h2">Entity Relationship Diagram</p>
    <img class="img-fluid" src=/images/diagram.png /> <br /><br />

    <p class=" h2">Relational Schema</p>
    <img class="img-fluid" src=/images/schema.png />


    <br /><br />
</div>

<%- include("../includes/footer.ejs"); %>