<%- include("../includes/header.ejs", {title:"Home", user_name: user[0].first_name + user[0].last_name}); %>

<% if(locals.was_successful) { %>
<div class="col-md-12">
    <div id="message" class="alert alert-success col-md-4">
        You have successfully logged in. %>
    </div>
</div>
<% }%>

<style>
    .navbar{
        display: none;
    }
</style>
<div class="container">

    <h1>Welcome, <%= user[0].first_name %> <%= user[0].last_name %> </h1>

    <ul class="nav flex-column" style="max-width: 500px;">
        <li class="nav-item">
            <a class="nav-link" href="/prisons/all">Prisons - View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sectors/all">Sectors - View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prisoner/all">Prisoners - View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admins/all">Administrators - View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/guard/all">Guards - View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adminsRank/all">Ranks - View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login/about">About</a>
        </li>
        <li></li><br />
        <li class="nav-item">
            <a class="nav-link" href="/login/logout">Logout</a>
        </li>
    </ul>



    <%- include("../includes/footer.ejs"); %>
</div>

