<%- include("../includes/header.ejs", {title:"Add New Prisoner", user_name: user[0].first_name + " " + user[0].last_name}); %>
<div class="container">
    <h1>Add New Prisoner</h1>
    <form action="/prisoner/insert" method="get">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">First Name</label>
                <input name="first_name" type="text" class="form-control" id="validationDefault01" placeholder="First Name" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Last Name</label>
                <input name="last_name" type="text" class="form-control" id="validationDefault02" placeholder="Last Name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Admit Date</label>
                <input name="admit_date" type="date" class="form-control" id="validationDefault01" placeholder="Admit Date" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Release Date</label>
                <input name="release_date" type="date" class="form-control" id="validationDefault02" placeholder="Release Date" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Sector</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="sectors_id" name="sectors_id">
                    <% for(var i=0; sectors.length > i; i++ ) { %>
                        <option value="<%= sectors[i].sectors_id %>"><%= sectors[i].prisons_name + ', ' + sectors[i].sectors_name %></option>
                    <% } %>
                </select>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>
<%- include("../includes/footer.ejs"); %>