<%- include("../includes/header.ejs", {title:"Prisoner - View All", user_name: user[0].first_name + " " + user[0].last_name}); %>

<h1>Prisoners</h1>
        <a class="btn btn-primary" href="/prisoner/add">Add New Prisoner</a> <br />

        <br />

        <table class="table table-striped" style="max-width: 600px;">
            <thead><tr><th scope="col">Last Name</th><th scope="col">First Name</th><th scope="col">Released?</th><th scope="col">Actions</th></tr></thead>
            <tbody>
                <% for(var i=0; result.length > i; i++ ) { %>
                <tr>
                    <td style="min-width:100px">&nbsp;&nbsp;<a href="/prisoner/?prisoner_id=<%= result[i].prisoner_id %>"><%= result[i].last_name %></a>&nbsp;&nbsp;</td>
                    <td style="min-width:100px">&nbsp;&nbsp;<a href="/prisoner/?prisoner_id=<%= result[i].prisoner_id %>"><%= result[i].first_name %></a>&nbsp;&nbsp;</td>

                    <% var todaysDate = new Date();
                        var released = 'No';
                        if(result[i].release_date <= todaysDate) {
                            released = 'Yes';
                        }
                    %>
                    <td style="min-width:100px">&nbsp;&nbsp;<%= released %></a>&nbsp;&nbsp;</td>
                    <td>
                        <button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/prisoner/edit/?prisoner_id=<%= result[i].prisoner_id %>'">Edit</button>
                        <form action="/prisoner/delete/" style="display:inline;">
                            <input type="hidden" name="prisoner_id" id="prisoner_id" value="<%= result[i].prisoner_id %>" />
                            <input class="btn btn-primary" type="submit" value="Delete"/>
                        </form>

                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
<br />
<button class="btn btn-primary" onclick="goBack()"><< Back</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<%- include("../includes/footer.ejs"); %>