<%- include("../includes/header.ejs", {title:"Update " + prisons.prisons_name, user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <h1>Update <%= prisons.prisons_name %></h1>
    <% if(locals.was_successful) { %>
    <div class="row">
        <div class="col-md-12">
            <div id="message" class="alert alert-success col-md-4">
                <%= prisons.prisons_name %> was successfully saved. %>
            </div>
        </div>
    </div>
    <% }%>
    <form action="/prisons/update" method="get" style="max-width: 500px;">
        <input type="hidden" id="prisons_id" name="prisons_id" value="<%= prisons.prisons_id %>">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Prison Name</label>
                <input name="prisons_name" type="text" class="form-control" id="validationDefault01" value="<%= prisons.prisons_name%>" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Street Address</label>
                <input name="street" type="text" class="form-control" id="validationDefault01" value="<%= prisons.street%>" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Zip Code</label>
                <input name="zip_code" type="number" class="form-control" id="validationDefault01" value="<%= prisons.zip_code%>" required>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <input type="submit" class="btn btn-primary"/>
            </div>
        </div>

    </form>
</div>
<%- include("../includes/footer.ejs"); %>

</html>