<%- include("../includes/header.ejs", {title:"Admin", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">
    <div class="card" style="max-width: 500px;">
        <h4 class="card-header"><%= admins.last_name %>,&nbsp;<%= admins.first_name %></h4>
        <div class="card-body">
            <h4 class="card-title"><%= rank[0].rank_name %></h4>
            <p class="card-text">
                Email:&nbsp;<a href="mailto:<%= admins.email %>"><%= admins.email %></a><br />
                Phone Number:&nbsp;<a href="tel:<%= admins.phone_no %>"><%= admins.phone_no %></a><br />
                Prison:&nbsp;<a href="/prisons/?prisons_id=<%= prisons[0].prisons_id %>"><%= prisons[0].prisons_name %></a> <%= prisons[0].street %>&nbsp;<%= prisons[0].zip_code %><br /><br />
                Annual Salary:&nbsp;
                $<%= admins.salary %>.00<br /><br /><br /></p>
            <button class="btn btn-primary" onclick="goBack()"><< Back</button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
    </div>
</div>
<%- include("../includes/footer.ejs"); %>