<%- include("../includes/header.ejs", {title:"Admin - View All", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">
<h1 class="display-3">Administrators</h1>
<a class="btn btn-primary" href="/admins/add">Add New Admin</a> <br />

<br />

<form action="/admins/all2" method="get">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Institution</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="prisons_id">
                <option value="">All</option>
                <% for(var i=0; prisons.length > i; i++ ) {%>
                <option value="<%= prisons[i].prisons_id %>"><%= prisons[i].prisons_name %></option>
                <% } %>
            </select>
        </div>
        <div class="col-auto">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Position</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="rank_id">
                <option value="">All</option>
                <% for(var j=0; rank.length > j; j++ ) {%>
                <option value="<%= rank[j].rank_id %>"><%= rank[j].rank_name %></option>
                <% } %>
            </select>
            <input class="btn btn-primary" value="Merge Positions" type="submit" />
        </div>
    </div>
</form>

<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">&nbsp;Last Name&nbsp;</th>
            <th scope="col">&nbsp;First Name&nbsp;</th>
            <th scope="col">&nbsp;Institution&nbsp;</th>
            <th scope="col">&nbsp;Position&nbsp;</th>
            <th scope="col">&nbsp;Salary&nbsp;</th>
            <th scope="col">&nbsp;Actions&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% for(var k=0; admins.length > k; k++ ) { %>
        <tr>
            <td><a href="/admins/?admins_id=<%= admins[k].admins_id %>">&nbsp;<%= admins[k].last_name %>&nbsp;</a></td>
            <td><a href="/admins/?admins_id=<%= admins[k].admins_id %>">&nbsp;<%= admins[k].first_name %>&nbsp;</a></td>
            <td><a href="/prisons/?prisons_id=<%= admins[k].prisons_id %>">&nbsp;<%= admins[k].prisons_name %>&nbsp;</a></td>
            <td><a href="/rank/?rank_id=<%= admins[k].rank_id %>">&nbsp;<%= admins[k].rank_name %>&nbsp;</a></td>
            <td>&nbsp;$<%= admins[k].salary %>.00&nbsp;</td>



            <td>
                <button class="btn btn-primary" onclick="event.preventDefault();window.location.href='/admins/edit/?admins_id=<%= admins[k].admins_id %>'">Edit</button>
                <form action="/admins/delete/" style="display:inline;">
                    <input type="hidden" name="admins_id" id="admins_id" value="<%= admins[k].admins_id %>" />
                    <input class="btn btn-primary" type="submit" value="Delete"/>
                </form>

            </td>
        </tr>

        <% } %>
        <tr>
            <td></td><td></td><td></td><td>Average: </td><td>&nbsp;$<%= average[0].avg %>&nbsp;</td><td></td><td></td>
        </tr>
    </tbody>
</table>
<br />
    <button class="btn btn-primary" onclick="goBack()"><< Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <br />
</div>

<%- include("../includes/footer.ejs"); %>