<%- include("../includes/header.ejs", {title:"Update " + guard.first_name, user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

    <h1>Update <%= guard.first_name%> <%= guard.last_name%></h1>
    <div class="row">
        <% if(locals.was_successful) { %>
            <div class="col-md-12">
                <div id="message" class="alert alert-success col-md-4">
                    <%= guard.first_name %> was successfully saved. %>
                </div>
            </div>
    </div>
    <% }%>
    <form action="/guard/update" method="get" style="max-width: 550px;">
        <input type="hidden" id="guard_id" name="guard_id" value="<%= guard.guard_id %>">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">First Name</label>
                <input name="first_name" type="text" class="form-control" id="validationDefault01" value="<%= guard.first_name%>" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Last Name</label>
                <input name="last_name" type="text" class="form-control" id="validationDefault01" value="<%= guard.last_name%>" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Email Address</label>
                <input name="email" type="email" class="form-control" id="validationDefault01" value="<%= guard.email%>" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">Phone Number</label>
                <input name="phone_no" type="tel" class="form-control" id="validationDefault01" value="<%= guard.phone_no%>" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="validationDefault05">Rank</label><br />
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="rank_id" name="rank_id">
                    <% for(var i=0; rank.length > i; i++ ) {
                        var selected = "";

                        if(rank[i].admins_id != null) {
                            selected = "selected";
                        }
                    %>
                    <option value="<%= rank[i].rank_id %>"<%= selected %>><%= rank[i].rank_name %></option>
                    <% } %>
                </select>
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault05"><%= prisons[0].prisons_name %>: &nbsp;Sectors</label><br />
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="sectors_id" name="sectors_id" multiple="multiple">
                    <% var prev = -1;
                    for(var i=0; sectors.length > i; i++ ) {
                        var selected = "";

                        if(sectors[i].guard_id != null) {
                            selected = "selected";
                        }

                    if(sectors[i].sectors_id != prev) {%>
                    <option value="<%= sectors[i].sectors_id %>"<%= selected %>><%= sectors[i].sectors_name %></option>
                    <% } } %>
                </select>
            </div>
        </div>


        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#sectors_id').multiselect();
            });
        </script>

        <br />

        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-primary" onclick="goBack()"><< Back</button>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
                <input type="submit" class="btn btn-primary"/>
            </div>
        </div>

    </form>
</div>
<%- include("../includes/footer.ejs"); %>