<%- include("../includes/header.ejs", {title:"Sectors", user_name: user[0].first_name + " " + user[0].last_name}); %>

<div class="container">

        <h2><%= prisoner[0].prisons_name %>:&nbsp;<%= sectors.sectors_name %> </h2><br />
    <div class="row">
        <div class="col-md-6 mb-3">
            <label>Prisoners in <%= sectors.sectors_name %></label>
            <table class="table table-striped" style="max-width: 300px;">
                <thead><tr><th scope="col">First Name</th><th scope="col">Last Name</th></tr></thead>
                <tbody>
                    <% for(var i=0; prisoner.length > i; i++ ) { %>
                    <tr>
                        <td style="min-width:100px">&nbsp;&nbsp;<a href="/prisoner/?prisoner_id=<%= prisoner[i].prisoner_id %>"><%= prisoner[i].first_name %></a>&nbsp;&nbsp;</td>
                        <td style="min-width:100px">&nbsp;&nbsp;<a href="/prisoner/?prisoner_id=<%= prisoner[i].prisoner_id %>"><%= prisoner[i].last_name %></a>&nbsp;&nbsp;</td>
                    </tr>
                    <% } %>
                </tbody>
            </table><br />
        </div>
        <div class="col-md-6 mb-3">
            <label>Guards in <%= sectors.sectors_name %></label>
            <table class="table table-striped" style="max-width: 300px;">
                <thead><tr><th scope="col">First Name</th><th scope="col">Last Name</th></tr></thead>
                <tbody>
                    <% for(var i=0; guard.length > i; i++ ) { %>
                    <tr>
                        <td style="min-width:100px">&nbsp;&nbsp;<a href="/guard/?guard_id=<%= guard[i].guard_id %>"><%= guard[i].first_name %></a>&nbsp;&nbsp;</td>
                        <td style="min-width:100px">&nbsp;&nbsp;<a href="/guard/?guard_id=<%= guard[i].guard_id %>"><%= guard[i].last_name %></a>&nbsp;&nbsp;</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <button class="btn btn-primary" onclick="goBack()"><< Back</button>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</div>
<%- include("../includes/footer.ejs"); %>